.links ul {
  padding: 0px;
}

.links li {
  display: inline;
  padding: 15px;
  list-style: none;
}

.links i {
  font-size: 40px;
  color: #1edd88;
}

.links p {
  color: aliceblue;
  font-weight: lighter;
}
